.navbar-bg {
    background-color: #101a20 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: #ecf0f1 !important;
    transition: all 0.2s ease-in-out;
    font-family: 'Poppins';font-size: 1em;
}

.nav-link:hover {
    color: #3498db !important;
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}

.navbar-toggler:hover{
    border-color: none !important;
}

.navbar-toggler:active{
    border-color: none !important;
}

.navbar-toggler-icon{
    filter: invert(100%);
}

.navbar-nav{
    justify-content: center;
    align-items: center;
}